{% extends 'base.html' %}

{% block title %}
Мои любимые книги
{% endblock %}

{% block content %}
<h1 class="mb-5">Мои любимые книги</h1>

<div class="row">
  {% for book in books %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
          <div class="card-header fw-bold">{{ book.title }}</div>
          <div class="card-body">
              <p class="card-text">Автор: <strong>{{ book.author }}</strong></p>
              <p class="card-text">Год: {{ book.year }}</p>
              <p class="card-text">Жанр: {{ book.genre }}</p>
          </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}