{% extends 'base.html' %}

{% block title %}
Мои любимые фильмы
{% endblock %}

{% block content %}
<h1 class="mb-5">Мои любимые фильмы</h1>

<div class="row">
  {% for movie in movies %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
          <div class="card-header fw-bold">{{ movie.title }}</div>
          <div class="card-body">
              <p class="card-text">Режиссер: <strong>{{ movie.director }}</strong></p>
              <p class="card-text">Год: {{ movie.year }}</p>
              <p class="card-text">Жанр: {{ movie.genre }}</p>
          </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}